
.categories{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.categories__list{
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;
    width: 100%;
}

.categories__item{
    cursor: pointer;
    width: 40%;
    text-align: center;
    padding: 30px 17px;
    background-color: var(--secondary-color);
    border-radius: 5px;
    font-weight: 600;
    font-size: 14px;
    color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5em;
}

.categories__item .fa-solid{
    font-size: 20px;
    
    border-radius: 50%;
    color: var(--primary-color);
}


.categories__item:hover{
    transform: scaleY(1.1);
}

@media (min-width: 800px){
    .categories__item{
        width: 20%;
    }
}