

    .login__container{
        min-height: 85vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .login__card {
    width: 350px;
    padding: 1.9rem 1.2rem;
    text-align: center;
    background: var(--secondary-color);
    height: 300px;
    border-radius: 5px;
   }
   
   /*Inputs*/
   .login__field {
    margin-top: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5em;
    background-color: var(--card-bg);
    border-radius: 4px;
    padding: 1em 1em;
   }
   
   .input-icon {
    height: 1em;
    width: 1em;
    fill: var(--primary-color);
   }
   
   .login__input-field {
    background: none;
    border: none;
    outline: none;
    width: 100%;
    color: var(--primary-color);
   }
   
   /*Text*/
   .login__title {
    margin-bottom: 1rem;
    font-size: 1.5em;
    font-weight: 500;
    color: var(--heading-color);
    font-weight: 700;
    letter-spacing: 1px;
   }
   
   /*Buttons*/
   .login__btn {
    margin: 1rem;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    font-size: .8em;
    text-transform: uppercase;
    padding: 1em 3em;
    background-color: var(--primary-color);
    color: var(--card-bg);
    box-shadow: 0 8px 24px 0 rgb(255 235 167 / 20%);
    transition: all .3s ease-in-out;
    cursor: pointer;
   }
   
   .login__btn-link {
    color: var(--heading-color);
    display: block;
    font-size: .75em;
    transition: color .3s ease-out;
   }
   
   /*Hover & focus*/
   .login__field input:focus::placeholder {
    opacity: 0;
    transition: opacity .3s;
   }
   
   .login__btn:hover {
    border: 1px solid var(--primary-color);
    background-color: transparent;
    color: var(--primary-color);
    box-shadow: 0 8px 24px 0 rgba(255, 255, 255, 0.2);
   }
   
   .login__btn-link:hover {
    color: var(--primary-color);
   }
   